name: Build Admin APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'

      - name: Create Flutter platform folders
        run: flutter create --project-name konafa_admin --org com.hesabaty.admin .

      - name: Get dependencies
        run: flutter pub get

      - name: Build APK
        run: sed -i "s/flutter.minSdkVersion/21/g" android/app/build.gradle && sed -i "s/1.7.1/1.9.24/g" android/build.gradle && flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: konafa-admin-release
          path: build/app/outputs/flutter-apk/app-release.apk
